<!DOCTYPE html>
<html>
<head>
  <title>Feedback</title>
  <style>
    .feedback-item {
      margin-bottom: 20px;
    }
    .question {
      font-weight: bold;
    }
    .response {
      margin-left: 20px;
    }
    .continue-button {
      display: block;
      width: 200px;
      height: 50px;
      margin: 20px auto;
      background-color: #4CAF50;
      color: white;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Feedback</h1>
  {% for item in feedback %}
    <div class="feedback-item">
      <div class="question">{{ item.question }}:</div>
      <div class="response">{{ item.response }}</div>
    </div>
  {% endfor %}
  <!-- Add continue button here -->
  <a class="button" href="{{ url_for('main.assessment', survey_id=survey_id) }}">Continue</a>
</body>
</html>


